{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: "#22222;" }
    </style>
{% endblock %}

{% block content %}
    {% block body %}
    <div style="width: 100%; padding: 20px;">
        <h1 style="text-align:center">{{event['name']}}</h1>
    <hr/>
    <br />
    <table border="1" style='margin-left:auto;margin-right:auto'>
        <tr>
            <th style="text-align:center;padding:5px"> Name</th>
            <th style="text-align:center;padding:5px"> RA</th>
            <th style="text-align:center;padding:5px"> DEC</th>
            <th style="text-align:center;padding:5px"> ERR</th>
            <th style="text-align:center;padding:5px"> TIME</th>
            <th style="text-align:center;padding:5px"> EXP_TIME</th>
            <th style="text-align:center;padding:5px"> FLUX</th>
            <th style="text-align:center;padding:5px"> SRC ID</th>
            <th style="text-align:center;padding:5px"> SRC SIGNIFICANCE</th>
            <th style="text-align:center;padding:5px"> BKG COUNTS</th>
            <th style="text-align:center;padding:5px"> NET COUNTS</th>
            <th style="text-align:center;padding:5px"> NET RATE</th>
            <th style="text-align:center;padding:5px"> XMATCH Status</th>
            <th style="text-align:center;padding:5px"> NB MATCHES</th>
        </tr>
    

        <tr>
            <td style="text-align:center;padding:5px">{{event['name']}}</td>
            <td style="text-align:center;padding:5px">{{event['ra']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['dec']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['pos_err']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['obs_start']}}</td>
            <td style="text-align:center;padding:5px">{{event['exp_time']|int}}</td>
            <td style="text-align:center;padding:5px">{{event['flux']}}</td>
            <td style="text-align:center;padding:5px">{{event['src_id']}}</td>
            <td style="text-align:center;padding:5px">{{event['src_significance']|round(2)}}</td>
            <td style="text-align:center;padding:5px">{{event['bkg_counts']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['net_counts']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['net_rate']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['query_status']}}</td>
            <td style="text-align:center;padding:5px">{{xmatches|length}}</td>
        </tr>
    </table>
    <br />
    <hr/>

    <div style="text-align:center">
        <h2>Matches:</h2>
    </div>
    <br />

    {% if xmatches|length > 0 %}
            <table border="1" style='margin-left:auto;margin-right:auto'>
                <tr>
                    <th style="text-align:center;padding:5px"> objectId</th>
                    <th style="text-align:center;padding:5px"> candid</th>
                    <th style="text-align:center;padding:5px"> RA</th>
                    <th style="text-align:center;padding:5px"> DEC</th>
                    <th style="text-align:center;padding:5px"> MAGPSF</th>
                    <th style="text-align:center;padding:5px"> SIGMAPSF</th>
                    <th style="text-align:center;padding:5px"> JD</th>
                    <th style="text-align:center;padding:5px"> FID</th>
                    <th style="text-align:center;padding:5px"> DRB</th>
                    <th style="text-align:center;padding:5px"> Δ<sub>t</sub></th>
                </tr>

                {% for xmatch in xmatches %}
                    <tr>
                         {% if is_admin %}
                            <td style="text-align:center;padding:5px"><a href="https://fritz.science/alerts/ztf/{{xmatch['object_id']}}">{{xmatch['object_id']}}</a></td>
                        {% else %}
                            <td style="text-align:center;padding:5px">{{xmatch['object_id']}}</td>
                        {% endif %}
                        <td style="text-align:center;padding:5px">{{xmatch['candid']}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['ra']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['dec']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['magpsf']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['sigmapsf']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['jd']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['fid']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['drb']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['delta_t']|round(2)}}</td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <div style='width:100%;text-align:center'>
            <h3>No matches found for this EP source.</h3>
        </div>
    {% endif %}
    </div>
    {% endblock %}
{% endblock %}
