{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: "#22222;" }
    </style>
{% endblock %}

{% block content %}
    {% block body %}
    <div style="width: 100%; padding: 20px;">
        <div style="width: 100%; display: flex; align-items: center; justify-content: center; gap: 20px;">
            <h1 style="text-align:center">{{event['name']}}</h1>
            <div>
                <select name="version" id="version">
                    {% for version in versions %}
                        <option value="{{version}}" {% if version == event['version'] %}selected{% endif %}>{{version}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    <hr/>
    <br />
    <table border="1" style='margin-left:auto;margin-right:auto'>
        <tr>
            <th style="text-align:center;padding:5px"> ra</th>
            <th style="text-align:center;padding:5px"> dec</th>
            <th style="text-align:center;padding:5px"> err<sub>(arcmin)</sub></th>
            <th style="text-align:center;padding:5px"> utc</th>
            <th style="text-align:center;padding:5px"> mjd</th>
            <th style="text-align:center;padding:5px"> exposure</th>
            <th style="text-align:center;padding:5px"> flux</th>
            <th style="text-align:center;padding:5px"> src ID</th>
            <th style="text-align:center;padding:5px"> significance</th>
            <th style="text-align:center;padding:5px"> bkg counts</th>
            <th style="text-align:center;padding:5px"> net counts</th>
            <th style="text-align:center;padding:5px"> net rate</th>
            <th style="text-align:center;padding:5px"> version</th>
            <th style="text-align:center;padding:5px"> xmatch Status</th>
            <th style="text-align:center;padding:5px"> xmatches</th>
        </tr>
    

        <tr>
            <td style="text-align:center;padding:5px">{{event['ra']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['dec']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{(event['pos_err']*60)|round(2)}}</td>
            <td style="text-align:center;padding:5px">{{event['obs_start']}}</td>
            <td style="text-align:center;padding:5px">{{(event['obs_start_jd'] - 2400000.5)|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['exp_time']|int}}</td>
            <td style="text-align:center;padding:5px">{{event['flux']}}</td>
            <td style="text-align:center;padding:5px">{{event['src_id']}}</td>
            <td style="text-align:center;padding:5px">{{event['src_significance']|round(2)}}</td>
            <td style="text-align:center;padding:5px">{{event['bkg_counts']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['net_counts']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['net_rate']|round(4)}}</td>
            <td style="text-align:center;padding:5px">{{event['version']}}</td>
            <td style="text-align:center;padding:5px">{{event['query_status']}}</td>
            <td style="text-align:center;padding:5px">{{xmatches|length}}</td>
        </tr>
    </table>
    <br />
    <hr/>

    <div style="text-align:center">
        <h2>Matches:</h2>
    </div>
    <br />

    {% if xmatches|length > 0 %}
            <table border="1" style='margin-left:auto;margin-right:auto'>
                <tr>
                    <th style="text-align:center;padding:5px"> objectId</th>
                    <!-- <th style="text-align:center;padding:5px"> candid</th> -->
                    <th style="text-align:center;padding:5px"> ra</th>
                    <th style="text-align:center;padding:5px"> dec</th>
                    <th style="text-align:center;padding:5px"> mag</th>
                    <th style="text-align:center;padding:5px"> magerr</th>
                    <th style="text-align:center;padding:5px"> utc</th>
                    <th style="text-align:center;padding:5px"> mjd</th>
                    <th style="text-align:center;padding:5px"> fid</th>
                    <th style="text-align:center;padding:5px"> drb</th>
                    <th style="text-align:center;padding:5px"> age</th>
                    <th style="text-align:center;padding:5px"> ndets</th>
                    <th style="text-align:center;padding:5px"> sgscore</th>
                    <th style="text-align:center;padding:5px"> distpsnr</th>
                    <th style="text-align:center;padding:5px"> ssdistnr</th>
                    <th style="text-align:center;padding:5px"> ssmagnr</th>
                    <th style="text-align:center;padding:5px"> δ<sub>t</sub></th>
                    <th style="text-align:center;padding:5px"> δ<sub> d (arcmin)</sub></th>
                    <th style="text-align:center;padding:5px"> δ<sub> d</sub>/err</th>
                </tr>

                {% for xmatch in xmatches %}
                    {% if xmatch['ssdistnr'] is not none and xmatch['ssdistnr'] >= 0 %}
                        <tr style="background-color:lightgrey">
                    {% elif xmatch['sgscore'] is not none and xmatch['sgscore'] > 0.7 and xmatch['distpsnr'] is not none and xmatch['distpsnr'] < 2 %}
                        <tr style="background-color:cyan">
                    {% else %}
                        <tr>
                    {% endif %}
                     
                        {% if is_admin %}
                            <td style="text-align:center;padding:5px"><a href="https://fritz.science/alerts/ztf/{{xmatch['object_id']}}" target="_blank">{{xmatch['object_id']}}</a></td>
                        {% else %}
                            <td style="text-align:center;padding:5px">{{xmatch['object_id']}}</td>
                        {% endif %}
                        <!-- <td style="text-align:center;padding:5px">{{xmatch['candid']}}</td> -->
                        <td style="text-align:center;padding:5px">{{xmatch['ra']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['dec']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['magpsf']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['sigmapsf']|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['utc']}}</td>
                        <td style="text-align:center;padding:5px">{{(xmatch['jd'] - 2400000.5)|round(4)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['fid']}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['drb']|round(2)}}</td>
                        
                        {% if xmatch['age'] is not none %}
                            <td style="text-align:center;padding:5px">{{xmatch['age']|round(2)}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        {% if xmatch['ndethist'] is not none %}
                            <td style="text-align:center;padding:5px">{{xmatch['ndethist']}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        {% if xmatch['sgscore'] is not none and xmatch['sgscore'] != -999.0 %}
                            <td style="text-align:center;padding:5px">{{xmatch['sgscore']|round(2)}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        {% if xmatch['distpsnr'] is not none and xmatch['distpsnr'] != -999.0 %}
                            <td style="text-align:center;padding:5px">{{xmatch['distpsnr']|round(2)}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        {% if xmatch['ssdistnr'] is not none and xmatch['ssdistnr'] != -999.0 %}
                            <td style="text-align:center;padding:5px">{{xmatch['ssdistnr']|round(2)}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        {% if xmatch['ssmagnr'] is not none and xmatch['ssmagnr'] != -999.0 %}
                            <td style="text-align:center;padding:5px">{{xmatch['ssmagnr']|round(2)}}</td>
                        {% else %}
                            <td style="text-align:center;padding:5px">--</td>
                        {% endif %}

                        <td style="text-align:center;padding:5px">{{xmatch['delta_t']}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['distance_arcmin']|round(2)}}</td>
                        <td style="text-align:center;padding:5px">{{xmatch['distance_ratio']|round(2)}}</td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <div style='width:100%;text-align:center'>
            <h3>No matches found for this EP source.</h3>
        </div>
    {% endif %}

    <br />
    <hr/>

    {% if is_admin %}

        <div style="text-align:center">
            <h2>Archival Matches:</h2>
        </div>

        <br />

        {% if archival_xmatches|length > 0 %}
                <table border="1" style='margin-left:auto;margin-right:auto'>
                    <tr>
                        <th style="text-align:center;padding:5px"> objectId</th>
                        <th style="text-align:center;padding:5px"> ra</th>
                        <th style="text-align:center;padding:5px"> dec</th>
                        <th style="text-align:center;padding:5px"> mag</th>
                        <th style="text-align:center;padding:5px"> magerr</th>
                        <th style="text-align:center;padding:5px"> utc</th>
                        <th style="text-align:center;padding:5px"> mjd</th>
                        <th style="text-align:center;padding:5px"> fid</th>
                        <th style="text-align:center;padding:5px"> drb</th>
                        <th style="text-align:center;padding:5px"> age</th>
                        <th style="text-align:center;padding:5px"> ndets</th>
                        <th style="text-align:center;padding:5px"> sgscore</th>
                        <th style="text-align:center;padding:5px"> distpsnr</th>
                        <th style="text-align:center;padding:5px"> ssdistnr</th>
                        <th style="text-align:center;padding:5px"> ssmagnr</th>
                        <th style="text-align:center;padding:5px"> δ<sub>t</sub></th>
                        <th style="text-align:center;padding:5px"> δ<sub> d (arcmin)</sub></th>
                        <th style="text-align:center;padding:5px"> δ<sub> d/err</sub></th>
                    </tr>
                    {% for xmatch in archival_xmatches %}
                        {% if xmatch['last_detected_ssdistnr'] is not none and xmatch['last_detected_ssdistnr'] >= 0 %}
                            <tr style="background-color:lightgrey">
                        {% elif xmatch['sgscore'] is not none and xmatch['sgscore'] > 0.7 and xmatch['distpsnr'] is not none and xmatch['distpsnr'] < 2 %}
                            <tr style="background-color:cyan">
                        {% else %}
                            <tr>
                        {% endif %}
                            {% if is_admin %}
                                <td style="text-align:center;padding:5px"><a href="https://fritz.science/alerts/ztf/{{xmatch['object_id']}}" target="_blank">{{xmatch['object_id']}}</a></td>
                            {% else %}
                                <td style="text-align:center;padding:5px">{{xmatch['object_id']}}</td>
                            {% endif %}
                            <td style="text-align:center;padding:5px">{{xmatch['ra']|round(4)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['dec']|round(4)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['last_detected_magpsf']|round(4)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['last_detected_sigmapsf']|round(4)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['last_detected_utc']}}</td>
                            <td style="text-align:center;padding:5px">{{(xmatch['last_detected_jd'] - 2400000.5)|round(4)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['last_detected_fid']}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['last_detected_drb']|round(2)}}</td>

                            {% if xmatch['last_detected_age'] is not none %}
                                <td style="text-align:center;padding:5px">{{xmatch['last_detected_age']|round(2)}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            {% if xmatch['ndethist'] is not none %}
                                <td style="text-align:center;padding:5px">{{xmatch['ndethist']}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            {% if xmatch['sgscore'] is not none and xmatch['sgscore'] != -999.0 %}
                                <td style="text-align:center;padding:5px">{{xmatch['sgscore']|round(2)}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            {% if xmatch['distpsnr'] is not none and xmatch['distpsnr'] != -999.0 %}
                                <td style="text-align:center;padding:5px">{{xmatch['distpsnr']|round(2)}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            {% if xmatch['last_detected_ssdistnr'] is not none and xmatch['last_detected_ssdistnr'] != -999.0 %}
                                <td style="text-align:center;padding:5px">{{xmatch['last_detected_ssdistnr']|round(2)}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            {% if xmatch['last_detected_ssmagnr'] is not none and xmatch['last_detected_ssmagnr'] != -999.0 %}
                                <td style="text-align:center;padding:5px">{{xmatch['last_detected_ssmagnr']|round(2)}}</td>
                            {% else %}
                                <td style="text-align:center;padding:5px">--</td>
                            {% endif %}

                            <td style="text-align:center;padding:5px">{{xmatch['delta_t']}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['distance_arcmin']|round(2)}}</td>
                            <td style="text-align:center;padding:5px">{{xmatch['distance_ratio']|round(2)}}</td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
            <div style='width:100%;text-align:center'>
                <h3>No archival matches found for this EP source.</h3>
            </div>
        {% endif %}

        <br />
        <hr/>
    {% endif %}

    <!-- describe the color code here, with a list with colored circle -->
    <br />
    <br />
    <br />
    <div style="text-align:left">
        <h4>Color Code:</h4>
        <ul style="list-style-type:none; padding:0;">
            <li><span style="background-color:cyan; width: 20px; height: 20px; display: inline-block;"></span> Star</li>
            <li><span style="background-color:lightgrey; width: 20px; height: 20px; display: inline-block;"></span> Potential Rock</li>
        </ul>
    </div>

    <script>
        document.getElementById('version').addEventListener('change', function() {
            if (this.value) {
                window.location.href = '/events/{{event["name"]}}?version=' + this.value;
            }
        });
    </script>

    </div>
    {% endblock %}
{% endblock %}
